<div class="row">
  <div class="col-3 m-auto">
    {% include tree-node.html name="setup" url="learn/skills/basics" %}
  </div>
</div>
<div class="row">
  <div class="col-3 m-auto">
    {% include tree-node.html name="components" url="learn/skills/components" %}
  </div>
</div>
<div class="row">
  <div class="col-3 m-auto">
    {% include tree-node.html name="rigidbodies" url="learn/skills/rigidbody" %}
  </div>
  <div class="col-3 m-auto">
    {% include tree-node.html name="prefabs" url="learn/skills/animation" %}
  </div>
</div>
<div class="row">
  <div class="col-3 m-auto">
    {% include tree-node.html name="character movement" url="learn/skills/components" %}
  </div>
</div>
<div class="row">
  <div class="col-3 m-auto">
    {% include tree-node.html name="animation" url="learn/skills/components" %}
  </div>
</div>
<div class="row">
  <div class="col-3 m-auto">
    {% include tree-node.html name="Live Event" url="learn/skills/live-event" %}
  </div>
</div>
