<div class="row">
    <div class="col-3 m-auto">
        {% include tree-node.html name="Basics" url="learn/skills/basics" %}
    </div>
</div>
<div class="row">
    <div class="col-3 m-auto">
        {% include tree-node.html name="Rigidbody" url="learn/skills/rigidbody" %}
    </div>
    <div class="col-3 m-auto">
        {% include tree-node.html name="Animation" url="learn/skills/animation" %}
    </div>
</div>
<div class="row">
    <div class="col-3 m-auto">
        {% include tree-node.html name="Live Event" url="learn/skills/live-event" %}
    </div>
</div>
