<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="https://studiocentauri.itch.io/">Projects</a></li>
            <li><a href="{{ site.baseurl }}/learn">Learn</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
          </ul>
          <br>
          <ul class="social-icons">
            <li>
              <a href="mailto:gamedeviitk@gmail.com"><i class="fa fa-envelope-o"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/gamedev.iitk"><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
        </div>
        <p>&copy; <a href="http://www.themefisher.com">Themefisher</a>.</p>
      </div>
    </div>
  </div>
</footer>
