<nav class="navbar navbar-expand-lg navbar-dark back-g fixed-top">
 
  <a class="brand-name" href="{{ site.baseurl }}/index.html">Studio Centauri</a>

  <a class="navbar-brand" href="{{ site.baseurl }}/index.html" >
    <img src="{{ site.baseurl }}/img/logo.png" alt="Logo" class="img-fluid" id="upd-1">
  </a>

  <button class="navbar-toggler" onclick="enlarge()" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="padding-right: 4px;"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end text-white-50" id="main-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="https://studiocentauri.itch.io/">Projects</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/learn">Learn</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a></li>
  </div>

  <script>
    let t = 0;
    let elem = document.getElementById('upd-1');
    function enlarge(){
      if(t==0){
        elem.classList.add("large-logo");
        t = 1;
      }
      else{
        elem.classList.remove("large-logo");
        t = 0;
      }
    }
  </script>

</nav>
