---
layout: page
---

<div class="post">
  <!-- Header -->
  <div>
    <img src="{{ site.baseurl }}{{ page.header }}" />
  </div>

  <section id="intro">
    <div class="container p-5">
      <div class="row">
        <div class="col">
          <h2 class="text-center text-uppercase fw-bold">{{ page.title }}</h2>
          <div class="post-info-wrapper text-center">
            <p class="m-3 fst-italic">By <strong>{{ page.author }}</strong> on <strong>{{ page.date | date: "%B %-d, %Y" }}</strong></p>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="center-text" style="padding: 30px;">
          <a class="btn btn-dark text-uppercase fw-bold" href="{{ site.baseurl }}/blog">Back to Blog</a>
        </p>
      </div>
    </div>
  </section>
</div>
