---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container p-5">
      <div class="row">
        <div class="col">
          <h2 class="text-center text-uppercase fw-bold">{{ page.title }}</h2>
            <hr />
        </div>
      </div>
      <div class="col">
        <div class="col">
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
    <div>
      <p class="center-text p-5">
        <a class="btn btn-dark text-uppercase fw-bold" href="javascript:history.back()">Back</a>
      </p>
    </div>
  </section>
</div>
